body{
    background-color: rgb(231, 231, 231);
}
.header{
    display: flex !important;
    flex-direction: row !important;
    align-content: flex-start !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 0.9rem;
    margin: 30px 0;
}
.header-text{
    color: rgb(251, 115, 115) !important;
    font-family: 'Pacifico', 'cursive' !important;
    object-fit: contain;
    font-size: 30px;
}   
